body {
    background: #e9f0ee;
}
		
nav#nav {
    border: 1px solid #780b07;
    width: 800px;  
    margin: 0 auto;
    height: 50px;
    background: #780b07;
    font-family: 'Roboto', sans-serif, helvetica;
}

#nav li + li:before {
    content: " | ";
    padding: 10px 10px;
}
		
li {
    color: white;
    display: inline;
    list-style-type: none; 
    
}
		
li.menu {
    margin-left: 30px;
}
		
div#separator {
    width: 801px;
    margin: 0 auto;
    height: 9px;
    background: #f0b618;
}
		
section#mainSection {
    width: 801px;
    height: 430px;
    margin: 0 auto;
    background: #e3740b;
}
		
footer#footer {
    width: 801px;
    margin: 0 auto;
    background: #8a431d;
    height: 55px;	
    text-align-last: center;
    color:azure;
}
		
form{
    background-color: #f2f2f2
}
h1 {
    font-size: 40px;
    font-family: arial;
    color: black;
}
			
p#copyRight {
    margin: 0;
    font-size: 12px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 22px;
    padding-left: 20px;
}
			
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
			
span.colorVelvet {
    color: #610706;
}
			
span.colorWhite {
    color: white;
}

div#logo {
    width: 400px;
    border: 1px solid #e3740b;
}

p#menuSeparator {
    width: 7px;
    position: relative;
    left: 108px;
    top: -36px;
    color: #a11515;
}

h1#frontLogo {
      float: left;
      color: white;
      margin-right: 10px;
      padding-top: 7px;
      padding-left: 80px;	
      font-family: 'Roboto', sans-serif, helvetica;
}
      
p#subtitle {
      font-size: 12px;
      width: 200px;
      position: relative;
      top: -37px;
      left: 113px;
      font-family: 'Open Sans', sans-serif, helvetica;
}
      
div#cantar {
      position: relative;
      left: 30px;
      top: -34px;
      background-image: url('opera-selfie.jpg');
      
      background-repeat: no-repeat;
      background-size: 80%;
      height: 300px;
      width: 400px;

}
      
      h1#welcome {
      font-family: 'Open Sans', sans-serif, helvetica;
      color: #610706;
      font-weight: bold;
      position: relative;
      left: 370px;
      top: -300px;
      width: 200px;
}
      
p#lhs {
      position: relative;
      top: -380px;
      left: 373px;
      color: #610706;
      width: 360px;
      text-align: center;
      font-family: 'Roboto', sans-serif, helvetica;
      }
      
span#colorWhiteAndRePos {
      position: relative;
      top: -56px;
      left: 210px;
      color: white;
      font-size: 23px;      
}
      
p#description {
      position: relative;
      text-align: justify;
      width: 280px;
      top: -440px;
      left: 28px;
      font-family: 'Roboto', sans-serif, helvetica;
      color: #610706;
}

